.login__container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: url('../../assets/new3.jpg');
}

.login__image__section{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.login__action__section{
    display: flex;
    flex-direction: row;
    flex: 2;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.login__action__container{
    display: flex;
    flex-direction: column;
    min-width: 290px;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 3px 3px 3px gray;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 10px;

    /* height: 50%; */
}

.login__action__companyname{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login__action__emailInput, .login__action__passwordInput{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.login__btn{
    display: flex;
    min-width: 180px;
    background-color: indigo;
    padding: 10px;
    width: 100%;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 3px gray;
}

.login__third__party{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.login__via__google{
    background-color: #DD4B39;
    border-radius: 20px;
    box-shadow: none

}


@media (max-width: 796px) {
    .login__image__section{
        display: none;
    }.login__action__section{
        background-size: contain;
    }
}