.subTopics__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    /* overflow-y: scroll; */
    /* height: 60vh;  */
}

.subTopics__subTopic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    cursor: pointer;
    width: 90%;
}

.subTopics__subTopic:hover{
    color: gray;
}

.subTopics__subTopicTitle {
    font-size: larger;
}

.subTopics__subTopicHighlighted {
    border-bottom: solid black 3px;
    color:blue;
}


h2{
    margin: 0;
    padding: 0;
}