.sectionCard__container{
    margin: 30px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 100%; */
    height: auto;
    border: 1px solid #785633;
    border-radius: 20px;
    /* box-shadow: 3px 3px 3px #a07447; */
    /* background-color: black; */
}

.sectionCard__class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:10vh;
    border-radius: 0%;
    /* padding-top: 10px; */

}

.sectionCard__grade{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height:10vh;
    border: 1px solid black;
    border-radius: 20px;
    /* background-color:  rgb(59, 9, 140); */
    background-color: #785633;
    color: whitesmoke;
}

.sectionCard__olympiadTitle{
    padding: 0 10px;
}

.sectionCard__classTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h6,h4, h5{
    margin: 0;
    padding: 0;
}

.sectionCard__topics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    padding: 20px 0;
}

.sectionCard__topic{
    min-width: 150px;
    width: 30%;
    padding: 10px 0 10px 30px;
   
}

.sectionCard__topicLink{
    /* color: rgb(97, 97, 97); */
    text-decoration: none;
    color: white;
}

.sectionCard__topicLink:hover{
    color: #785633
}