.quiz__container{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    overflow-y: scroll;
    margin-top: 65px;
    align-items: center;
}

.quiz__title{

}

.quiz__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border: 1px solid gray;
    padding: 10px;
}

.quiz__duration{
    display: flex;
}

.quiz__content{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    flex: 4
}

.quiz__questionBlock{
    flex: 1;
}

.quiz__contentContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}


.quiz__questionsBlock__container{
    display: flex;
    flex-direction: column;
    background-color: #EEF5FC;
    border: 1px solid #00071F;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    min-width: 100px;
}

.quiz__questionsBlock__questions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    border: 0.5px solid rgb(162, 162, 162);
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    gap: 1px 10px;
}

.quiz__questionsBlock__eachQues{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
}

.quiz__questionsBlock_eachQues_answered{
    border: 1px solid darkgreen;
    background-color: green;
}

.quiz__questionsBlock__eachQues:hover{
    background-color: rgb(198, 255, 198);
    color: black;
}

.quiz__eachQuestion{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.quiz__submit{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0 10px 0;
    
}

.quiz__submitBtn{
    font-size: large;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px;
    padding: 5px 0;
    width: 20%;
    min-width: 100px;
    cursor: pointer;
    background-color:transparent;
    color: black;
}

.quiz__submitBtn:hover{
    background-color:rgb(220, 217, 217);
}

.quiz__container_notLoggedIn{
    font-size: 1.3rem;
    width: 60%;
    min-width: 320px;
    text-align: center;
    font-weight: 200;
    color: #000000;
    word-break: normal;
}

.quiz__signUp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    min-width: 320px;
}

.quiz__noLogInText{
    font-size: 2.3rem;
    text-align: center;
}

.quiz__lock{
    font-size: 6rem;
    margin: 0;
}

.quiz__askToLogin{
    font-size: 1.5rem;
    text-align: center;
}

.quiz__signUpBtns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.quiz__signUpBtns>button{
    width: 200px;
    padding: 10px 5px 10px 5px;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 8px;
    cursor: pointer;
    border: none;
    color: white;
    border: 2px solid #0560d8;
    border-radius: 5px;
    transition: all 0.2s;
}

.quiz__signUpBtns>button:hover{
    transform: scale(1.02);
    background-color: #0560d8;
}

.quiz__login{
    background-color: #4b91ed;
}

.quiz__signup{
    background-color: #2b77db;
}