.topicDetails__container { 
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    /* align-items: center; */
    /* margin-top: 60px; */
    background-color: whitesmoke;
    color: black;
} 

.topicDetails__listSubTopics{
    overflow-y: scroll;
    height: 500px;
}

.topicDetails__topicName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    background-color: #031035;
    color: white;
}

.topicDetails__subTopicContainer{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* position: relative;  */
    /* border: 1px solid black; */
    /* box-shadow: 3px 3px 3px rgba(128,128,128,0.7); */
    width: 100%;
    height: 100%;
    /* padding: 10px 0 10px 0; */
}

.topicDetails__subTopics::-webkit-scrollbar {
    display: none;
  }

.topicDetails__subTopics{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 3px solid black;
    /* overflow-y: scroll; */
    /* background-color: rgb(225, 225, 225); */
    min-width: 200px;
}



.topicDetails__questionContainer{
    display: flex;
    flex: 4;
    flex-direction: column;
    min-width: 300px;
    padding: 10px;
}

.topicDetails__subTopicTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #031035;
    color: white;
}



.topicDetails__questions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100%; */
    height: 50vh;
    /* min-height: 400px; */
    justify-content: space-evenly;
    align-items: flex-start;
    border: 1px solid black;
    /* background: linear-gradient(360deg, gray, white); */
    overflow-y: scroll;
}

.topicDetails__questions:first-child{
    margin-left: 0;
}

.topicDetails__topicTest{
    align-self: center;
    
}

.topicDetails__testBtn{
    font-size: x-large;
    font-family: 'Architects Daughter', cursive;
    border-radius: 10px;
    /* border: 0.5px solid black; */
    padding: 10px 30px;
    cursor: pointer;
    background-color:transparent;
    color: black;
    box-shadow: 7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2); 
    transition: color .5s, background-color .5s,background-position .5s;

}

.topicDetails__testBtn:hover{
    background-color: rgb(209, 205, 205);
    background-position: 0% 100%;

}



.topicDetails__line {
    width: 85%;
    align-self: center;
    border-bottom: 1px solid black;
}

.hexagon {
    margin-left: 10px;
    padding: 0px;
    margin : 40px;
}

h2{
    margin: 0;
    padding: 0;
    width: max-content;
}

.topicDetails__subTopics__modal_hide {
    display: none;
}

.topicDetails__subTopics__modal_show{
    display: block;
}


@media (max-width: 900px){
    .topicDetails__subTopics {
        display: none;
    }

    .topicDetails__subTopicTitle__dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        padding: 3px;
      }
    
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .hexagon {
        margin : 30px;   
      }
}


.showSubmissions__container{
    width: 80vw;
    height: 70vh;
    background-color: currentColor;
    overflow-y: scroll;
}

.sketchFieldComponent__modal_title{
    position: fixed;
    width: inherit;
    margin: 0;
}

.sketchFieldComponent__modal_title h4{
    margin: 0;
}

.subTopics__modal{
    color: white;
    overflow-y: scroll;
    padding-top: 40px;
}
