.hints__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 17vh;
    background-color: #EEF5FC;
    border: 3px solid #00071F;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

.hints__hints{
    flex:1;
    height: fit-content;
}

.hints__hintsTitile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hints__hintsBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    background-color:#F0BE32;
    border-radius: 5px;
    border:none;
    padding: 0 10px;
    width: 100%;
    min-width: 102px;
    cursor: pointer;
    color: black;
    /* -webkit-text-stroke: 1px white; */
}

.hints__hintsBtn:hover{
    background-color:#dfaf2d;
}

.hints__titileDescription{
    color: black;
    word-wrap: break-word;
    line-break: strict;
    margin: 10px;
}

.hints__hint{
    background-color: rgb(255, 161, 161);
    border-radius: 5px;
    padding: 1px 2px;
    color: black;
    /* margin: 20px; */
    font-size: larger;
}