.hints__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 55vh;
    background-color: #EEF5FC;
    border: 3px solid #00071F;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}

.hints__hints{
    flex:1;
    height: fit-content;
}

.hints__hintsTitile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.hints__hintsBtn{
    font-size: x-large;
    background-color:#031035;
    border-radius: 5px;
    border:none;
    padding: 0 10px;
    width: 20%;
    min-width: 102px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

.hints__titileDescription{
    color: black;
    word-wrap: break-word;
    line-break: strict;
    margin: 10px;
}

.hints__hint{
    background-color: rgb(255, 161, 161);
    border-radius: 5px;
    padding: 1px 2px;
    color: black;
    /* margin: 20px; */
    font-size: larger;
}