.pageBreak__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}

.pageBreak__line{
    border: 1px solid black;
    width: 40%;
    height: 0;
}

.pageBreak__symbols{
    color: black;
    font-size: 2em;
}