.solutions__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
    height: 20vh;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}
