.solutions__container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    color: black;
    height: 20vh;
    background-color: #ddf8d6;
    border: 3px solid #00071F;
    margin: 0 5px;
    border-radius: 5px;
}

.solutions__title{
    margin-top: 2px;
    flex: 1;
}

.solutions__title > h2{
    font-weight: 100;
}

.solutions__btns{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.solutions__fullSol,
.solutions__fullVidSol{
    width: 40%;
    height: 90%;
    border-radius: 5px;
    background-color:rgb(255,140,0);
    border: none;
    box-shadow: 0 0 10px 1px rgb(160, 160, 160);
    -webkit-box-shadow: 0 0 3px 1px rgb(160, 160, 160);
    -moz-box-shadow: 0 0 3px 1px #fff;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
    font-size: medium;
}

.solutions__fullSol:hover,
.solutions__fullVidSol:hover{
    background-color:rgb(226, 125, 1);
}