.navbar__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../../assets/wooden.jpg");
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar__title{
    color: white;
    margin: 10px 20px;
    font-size: xx-large;
    cursor: pointer;
}


@keyframes rotate {
    to {
      transform: skew(50deg);
    }
  }


.navbar__title:hover{
    animation: rotate 1s linear infinite;
}

.navbar__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: ; */
}

.navbar__item{
    margin: 10px;
    color: white;
    cursor: pointer;
}

.navbar__loginBtn{
    /* margin: 10px 20px; */
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: rgb(31, 3, 77);
    font-size: small;
    cursor: pointer;
}