.navbar__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    /* background-image: url("../../assets/wooden.jpg"); */
    width: 100%;
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    transition: all 0.5s;
}

.navbar__container_withBg{
    background-color: #ebebeb;
    color: black;
    z-index: 1;
}

.navbar__title{
    /* color: white; */
    margin: 10px 20px;
    font-size: xx-large;
    cursor: pointer;
}

.navbar__title:hover{
    color: ;
}

.navbar__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: ; */
}

.navbar__item{
    margin: 10px;
    /* color: white; */
    font-size: large;
    cursor: pointer;
}

.navbar__loginBtn{
    margin: 0 20px;
    padding: 5px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: medium;
    cursor: pointer;
    border: 1px solid black;
}

.navbar__loginBtn:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border:1px solid white;
}