.questions__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions__seperatingLine{
    width: 80%;
    border-bottom: 0.1px dotted white;
    height: 0px;
}