.questions__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(102, 102, 102);
}

.questions__innerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    width: 100%;
}

.questions__quesAndOptions{
    flex: 3;
    min-width: 300px;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
}

.questions__hintsAndSolutions{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-width: 200px;
}

.questions__question{
    border: 2px solid rgb(102, 102, 102);
}