.content__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 150px;
    padding: 20px;
}

.content__classDropDown{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.content__examsDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content__selectClass{
    font-size: x-large;
    font-weight: bold;
}

.content__line{
    width: 90%;
    border-bottom: 1px solid black;
    margin: 10px;
}

.content__exams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content__eachExam{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 1px solid;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.content__topicTitle{
    align-self: flex-start;
    font-weight: bold;
    margin-top: 20px;
}

.content__topics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid black; */
}

.content__eachTopic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 1px solid green; */
    margin: 10px;
    width: 25%;
    min-width: 250px;
    height: 300px;
    padding: 10px;
    overflow-x: scroll;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(160, 160, 160);
    -webkit-box-shadow: 0 0 10px 1px rgb(160, 160, 160);
    -moz-box-shadow: 0 0 10px 1px #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.content__eachTopic:hover{
    transform: scale(1.03);
}

.content__eachTopic_title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: rgb(39, 39, 39);
    color: white;
}

.content_topic{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}

.content__eachTopic_0{
    background-color: rgb(216, 255, 255);
}

.content__eachTopic_1{
    background-color: rgb(255, 190, 190);
}

.content__eachTopic_2{
    background-color: rgb(177, 255, 177);
}

.content__eachTopic_3{
    background-color: rgb(255, 255, 167);
}

.content__eachTopic_0:hover{
    background-color: rgb(64, 255, 255);
}

.content__eachTopic_1:hover{
    background-color: rgb(255, 94, 94);
}

.content__eachTopic_2:hover{
    background-color: rgb(108, 255, 108);
}

.content__eachTopic_3:hover{
    background-color: rgb(255, 255, 71);
}
