.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.footer_link {
    text-decoration: none;
    font-size: larger;
    color: black;
    padding: 10px;
    min-width: 170px;
    text-align: center;
}


.footer_link:hover{
    background-color: black;
    color: white;
}

.footer__copyrights{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    padding: 10px;
    font-weight: 500;
}