.question__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    flex: 2;
    min-width: 300px;
    color: black;
    height: 81vh;
    min-height: 300px;
    padding: 10px;
    border: 5px solid #00031f;
}

.question__header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    background-color: #000535;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    padding: 0 10px;
    color: white;
    font-weight: bold;
}

.question__header h4{
    margin: 0;
}

.question__qNumAndQues{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid white; */
}

.question__Q{
    font-size: xx-large;
    align-self: flex-start;
}

.question__speratingLine{
    border-bottom: 1px solid black;
    width: 80%;
    align-self: center;
}

.options__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}

.options__btnGrp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.options__submitBtn{
    font-size: larger;
    margin: 10px;
    cursor: pointer;
    background: #141E30;  /* fallback for old browsers */
    color: rgb(235, 235, 235);
    transition: all 0.1s;
    border-radius: 8px;
    padding:10px;
    width: 200px;
    border: none;
}

.options__submitBtn:hover{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c4868, #0f1c35);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c4868, #0f1c35);
}

.options__title{
    justify-self: flex-start;
}

.options__allOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    min-width: 300px;
    /* border: 1px solid green; */
}

.options__eachOption,
.options__selectedOption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px double black;
    border-radius: 5px;
    min-width: 300px;
    min-height: 50px;
    font-size: x-large;
    margin: 10px 20px;
    cursor: pointer;
    background-color: rgb(191, 191, 191);
    color: black;
    font-weight: bold;
    white-space: pre-line;
    word-wrap    : break-word;
    overflow-wrap: break-word;
    padding: 0 10px;
}

.options__selectedOption{
    background-color: #8db5e4;
}

.asd{
    border: 1px solid black;
    background-color: green;
    justify-self: flex-start;
    /* align-self: flex-start; */
    height: 10px;
    width: 10px;
    clip-path: circle(40%);
}

.options__eachOption:hover{
    background-color: rgb(136, 136, 136);
    color: black;
    border: 1px solid rgb(51, 51, 51);
}

h3 span{
    font-weight: bold;
    font-size: larger;
}