.question__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    flex: 2;
    min-width: 300px;
    color: white;
    height: 81vh;
    min-height: 300px;
    padding: 10px;
}

.question__header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    padding: 0 10px;
    color: white;
    font-weight: bold;
}

.question__header h4{
    margin: 0;
}

.question__qNumAndQues{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid white; */
}

.question__Q{
    font-size: xx-large;
    align-self: flex-start;
}

.question__speratingLine{
    border-bottom: 1px solid white;
    width: 80%;
    align-self: center;
}

.options__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}

.options__btnGrp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.options__submitBtn{
    font-size: larger;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(52, 104, 0);
    color: rgb(235, 235, 235);
    transition: all 0.1s;
    border-radius: 8px;
    padding:10px;
    width: 200px;
    border: none;
}

.options__submitBtn:hover{
    background-color: #039900;
}

.options__title{
    justify-self: flex-start;
}

.options__allOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    min-width: 300px;
    /* border: 1px solid green; */
}

.options__eachOption,
.options__selectedOption{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px double black;
    border-radius: 5px;
    min-width: 300px;
    min-height: 50px;
    font-size: x-large;
    margin: 10px 20px;
    cursor: pointer;
    background-color: rgb(191, 191, 191);
    color: black;
    font-weight: bold;
    white-space: pre-line;
    word-wrap    : break-word;
    overflow-wrap: break-word;
    padding: 0 10px;
}

.options__selectedOption{
    background-color: rgb(180, 221, 180);
    /* border: 1px solid white; */
}

.options__eachOption:hover{
    background-color: rgb(72, 72, 72);
    color: white;
    border: 1px solid rgb(201, 201, 201);
}

h3 span{
    font-weight: bold;
    font-size: larger;
}