.hintsAndSolutions__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    border: 1px solid white;
}

.hintsAndSolutions__hints,
.hintsAndSolutions__solutions{
    flex:1;
    min-width: 300px;
    height: fit-content;
}

.hintsAndSolutions__hintsBtn{
    font-size: x-large;
}