.banner__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    min-width: 300px;
    /* margin-top: 20px; */
    padding-top: 50px;
    color: black;

}

.banner_tagLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    flex: 1;
    padding: 20px;
}

.banner_contentBoxes_horizontal{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;
}

.banner_contentBoxes_vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    display: none;
}

@media (max-width: 500px){
    .banner_contentBoxes_horizontal{
        display: none;
    }

    .banner_contentBoxes_vertical{
        display: flex;
    }
}

.banner_eachBox{
    width: 10vw;
    min-width: 80px;
    height: fit-content;
    border: 1px solid black;
    margin: 7px 10px;
    padding: 3px;
    text-align: center;
    border-radius: 20px;
    border: none;
    /* color: white; */
    font-weight: 600;
}

.red_box{
    background-color: crimson;
}

.yellow_box{
    background-color: darkorange;
}

.green_box{
    background-color: chartreuse;
}

/* .banner__quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    flex: 1;
    padding: 20px;
} */

/* .banner__quote{
    font-size: x-large;
    align-self: center;
    flex:1;
    font-family: 'Architects Daughter', cursive;
    object-fit: contain;
    min-height: 100px;
} */

.banner__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    flex: 1;
    color: black;
    min-width: 300px;
    margin: 15vh 2vw 0 2vw;
}

.banner__imageTitle{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.banner__piImage{
    width: 40%;
    height: 40%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

.banner__getStartedBtn{
    font-size: x-large;
    font-family: 'Architects Daughter', cursive;
    background-color: rgba(65, 97, 136, 0.7);
    border-radius: 10px;
    border: 0.5px solid black;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    object-fit: contain;
}

.banner__getStartedBtn:hover{
    /* border: 2px solid black; */
    /* background-color: rgb(5, 0, 87); */
    /* color: white; */
}

.banner__getStartedBtn span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.banner__getStartedBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.banner__getStartedBtn:hover span {
    padding-right: 25px;
}
  
.banner__getStartedBtn:hover span:after {
    opacity: 1;
    right: 0;
}